Repository arpandaze/sikshyalaya: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-backend, build-backend, build-file-server, build-web, deploy

test-backend:
  image: python:latest
  stage: test
  variables:
    POSTGRES_DB: sikshyalaya
    POSTGRES_USER: postadmin
    POSTGRES_PASSWORD: postpass
    CONFIG_PATH: etc/dock.yml
    REDIS_HOST: redis
  services:
  - name: postgres:13-alpine
  - name: redis:6-alpine
    alias: redis
    command:
    - --requirepass redispass
  ...

build-backend:
  image: docker:latest
  stage: build
  services:
  - docker:dind
  before_script:
  - echo $CI_BUILD_TOKEN | docker login -u "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY
  script:
  - cd backend
  - docker build --pull -t "$CI_REGISTRY_IMAGE/backend" .
  - docker push "$CI_REGISTRY_IMAGE/backend"

build-file-server:
  image: docker:latest
  stage: build
  services:
  - docker:dind
  before_script:
  - echo $CI_BUILD_TOKEN | docker login -u "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY
  script:
  - cd file_server
  - docker build --pull -t "$CI_REGISTRY_IMAGE/file_server" .
  - docker push "$CI_REGISTRY_IMAGE/file_server"

build-web:
  image: docker:latest
  stage: build
  services:
  - docker:dind
  before_script:
  - echo $CI_BUILD_TOKEN | docker login -u "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY
  script:
  - cd web
  - docker build --no-cache --pull -t "$CI_REGISTRY_IMAGE/web:latest" .
  - docker push "$CI_REGISTRY_IMAGE/web:latest"
  ...

deploy:
  stage: deploy
  image: kroniak/ssh-client
  variables:
    DEPLOY_SSH_HOST: $DEPLOY_SSH_HOST
    DEPLOY_PRIVATE_KEY: $DEPLOY_PRIVATE_KEY
  script:
  - mkdir -p ~/.ssh
  - chmod 700 ~/.ssh
  - echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config
  - echo "$DEPLOY_PRIVATE_KEY" > ~/.ssh/id_rsa
  ...

fix: quiz view
  mobile/lib/screens/Quiz/components/QuizAttemptCard.dart
  mobile/lib/screens/Quiz/components/QuizPreviewCard.dart
  mobile/lib/screens/Quiz/components/QuizViewCard.dart
  mobile/lib/screens/Quiz/student_quiz.dart
  mobile/lib/screens/Quiz/student_quiz_bloc.dart
  mobile/lib/screens/Quiz/student_quiz_state.dart
  mobile/lib/screens/Quiz/student_quizview.dart
Due: none

profile page personal
  mobile/lib/components/CustomDateButton.dart
  mobile/lib/components/CustomTextField.dart
  mobile/lib/helpers/helper.dart
  mobile/lib/repository/personal.dart
  mobile/lib/screens/Notes/student_notes.dart
  mobile/lib/screens/Profile/personal_bloc.dart
  mobile/lib/screens/Profile/personal_event.dart
  mobile/lib/screens/Profile/personal_info.dart
  mobile/lib/screens/Profile/personal_state.dart
Due: none

Quiz Null Error Fixed
  mobile/lib/screens/Quiz/student_quiz_bloc.dart
  mobile/lib/screens/Quiz/student_quizview.dart
Due: none

added profile personal info update
  mobile/lib/components/CustomDateButton.dart
  mobile/lib/repository/personal.dart
  mobile/lib/screens/Login/login_screen.dart
  mobile/lib/screens/Profile/components/CustomTextField.dart
  mobile/lib/screens/Profile/personal_bloc.dart
  mobile/lib/screens/Profile/personal_event.dart
  mobile/lib/screens/Profile/personal_info.dart
  mobile/lib/screens/Profile/personal_state.dart
Due: none

Profile Update Implementation Complete
  mobile/lib/components/CustomDateButton.dart
  mobile/lib/helpers/helper.dart
  mobile/lib/repository/personal.dart
  mobile/lib/screens/Login/login_screen.dart
  mobile/lib/screens/Notes/student_notes.dart
  mobile/lib/screens/Profile/components/CustomTextField.dart
  mobile/lib/screens/Profile/personal_bloc.dart
  mobile/lib/screens/Profile/personal_event.dart
  mobile/lib/screens/Profile/personal_info.dart
  mobile/lib/screens/Profile/personal_state.dart
Due: none

fix: Anon message history fix
  mobile/lib/screens/Chat/chat_bloc.dart
Due: none

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

feat: Passwordless login endpoints created
  backend/api/endpoints/auth.py
  backend/core/config.py
  backend/core/security.py
  backend/etc/base.yml
Due: test-backend, build-backend, deploy

Assignment Upload Backend
  backend/api/api.py
  backend/api/endpoints/assignment.py
  backend/api/endpoints/assignment_upload.py
  backend/cruds/__init__.py
  backend/cruds/assignment_upload.py
  backend/models/__init__.py
  backend/models/assignment_upload.py
  backend/schemas/__init__.py
  backend/schemas/assignment_upload.py
  mobile/lib/main.dart
Due: test-backend, build-backend, deploy

quick-fix: User schema fix
  backend/schemas/user.py
Due: test-backend, build-backend, deploy

Resource view Page Implemented
  backend/schemas/user.py
  mobile/lib/components/not_available.dart
  mobile/lib/screens/Dashboard/resource_bloc.dart
  mobile/lib/screens/Dashboard/resource_event.dart
  mobile/lib/screens/Dashboard/resource_state.dart
  mobile/lib/screens/Dashboard/resource_viewer.dart
  mobile/lib/screens/Dashboard/student_dashboard.dart
  mobile/lib/screens/Login/components/CustomFilledButton.dart
  mobile/lib/screens/Login/login_screen.dart
Due: test-backend, build-backend, deploy

added 2fa and qrLogin
  web/package.json
  web/src/Routes.jsx
  web/src/assets/logo-small - Copy.png
  web/src/assets/qrLogo.jpg
  web/src/assets/qrLogo.png
  web/src/components/CustomQRCode.jsx
  web/src/components/CustomRadioButton.jsx
  web/src/components/TwoFactorLogin.jsx
  web/src/components/statics/css/customRadioButton.css
  web/src/components/statics/css/twoFactorLogin.css
  web/src/utils/configs.jsx
  web/src/views/Login/LoginBox.jsx
  web/src/views/Login/statics/css/loginCommon.css
  web/src/views/Profile/Profile.jsx
  web/src/views/Profile/components/RenderForm.jsx
  web/src/views/Profile/components/Session.jsx
  web/src/views/Profile/components/TwoFactor.jsx
  web/src/views/Profile/components/css/generalInfo.css
  web/src/views/Profile/components/css/session.css
  web/src/views/Profile/components/css/tabIcons.css
  web/src/views/Profile/components/css/twoFactor.css
  web/src/views/Profile/statics/css/profile.css
  web/yarn.lock
Due: build-web, deploy

class_creator and add_assignment+some teacher part
  .env.example
  mobile/lib/components/CustomNumberField.dart
  mobile/lib/components/nav_bar.dart
  mobile/lib/repository/models/teacher_note.dart
  mobile/lib/repository/models/teacher_note.g.dart
  mobile/lib/repository/teacher_note.dart
  mobile/lib/repository/teacher_quiz.dart
  mobile/lib/screens/Assignment/Add-Assignment/add_assignment.dart
  mobile/lib/screens/Assignment/Add-Assignment/bloc/add_assignment_bloc.dart
  mobile/lib/screens/Assignment/Add-Assignment/bloc/add_assignment_event.dart
  mobile/lib/screens/Assignment/Add-Assignment/bloc/add_assignment_state.dart
  mobile/lib/screens/ClassCreator/bloc/class_creator_bloc.dart
  mobile/lib/screens/ClassCreator/bloc/class_creator_event.dart
  mobile/lib/screens/ClassCreator/bloc/class_creator_state.dart
  mobile/lib/screens/ClassCreator/class_creator.dart
  mobile/lib/screens/Notes/student_notes_bloc.dart
  mobile/lib/screens/Student/student_wrapper.dart
  mobile/lib/screens/Teacher-Notes/components/CustomEditTextField.dart
  mobile/lib/screens/Teacher-Notes/components/NotePreview.dart
  mobile/lib/screens/Teacher-Notes/note_view.dart
  mobile/lib/screens/Teacher-Notes/teacher_notes.dart
  mobile/lib/screens/Teacher-Notes/teacher_notes_bloc.dart
  mobile/lib/screens/Teacher-Notes/teacher_notes_event.dart
  mobile/lib/screens/Teacher-Notes/teacher_notes_state.dart
  mobile/lib/screens/Teacher-Quiz/teacher_quiz.dart
  mobile/lib/screens/Teacher-Quiz/teacher_quiz_bloc.dart
  mobile/pubspec.lock
  mobile/pubspec.yaml
Due: none

added password change feature
  mobile/lib/repository/password.dart
  mobile/lib/screens/Profile/change_password.dart
  mobile/lib/screens/Profile/change_password_bloc.dart
  mobile/lib/screens/Profile/change_password_event.dart
  mobile/lib/screens/Profile/change_password_state.dart
Due: none

Teacher Quiz Review done
  mobile/lib/repository/models/answer.dart
  mobile/lib/repository/models/answer.g.dart
  mobile/lib/repository/models/student.dart
  mobile/lib/repository/models/student.g.dart
  mobile/lib/repository/teacher_quiz.dart
  mobile/lib/repository/teacher_quiz_review.dart
  mobile/lib/routes.dart
  mobile/lib/screens/Student/student_wrapper.dart
  mobile/lib/screens/Teacher-Quiz/QuizPreview.dart
  mobile/lib/screens/Teacher-Quiz/QuizReviewCard.dart
  mobile/lib/screens/Teacher-Quiz/teacher_quiz.dart
  mobile/lib/screens/Teacher-Quiz/teacher_quiz_bloc.dart
  mobile/lib/screens/Teacher-Quiz/teacher_quiz_event.dart
  mobile/lib/screens/Teacher-Quiz/teacher_quiz_review.dart
  mobile/lib/screens/Teacher-Quiz/teacher_quiz_review_bloc.dart
  mobile/lib/screens/Teacher-Quiz/teacher_quiz_review_event.dart
  mobile/lib/screens/Teacher-Quiz/teacher_quiz_review_state.dart
  mobile/lib/screens/Teacher-Quiz/teacher_quiz_state.dart
  mobile/pubspec.lock
  mobile/pubspec.yaml
Due: none

fix: Backend Assignment
  backend/api/endpoints/assignment.py
  backend/api/endpoints/assignment_upload.py
  backend/schemas/__init__.py
  backend/schemas/assignment.py
  backend/schemas/assignment_upload.py
Due: test-backend, build-backend, deploy

feat: Profile upload implemented
  mobile/lib/components/top_bar.dart
  mobile/lib/global/authentication/auth_bloc.dart
  mobile/lib/global/authentication/auth_event.dart
  mobile/lib/repository/auth.dart
  mobile/lib/screens/Profile/profile.dart
  mobile/lib/screens/Profile/profile_bloc.dart
  mobile/lib/screens/Profile/profile_event.dart
  mobile/lib/screens/Profile/profile_state.dart
  mobile/pubspec.lock
  mobile/pubspec.yaml
Due: none

fix: Statics url in email
  backend/templates/email-templates/reset-password.html
  backend/templates/email-templates/test_email.html
  backend/templates/email-templates/verify-account.html
  backend/utils/utils.py
Due: test-backend, build-backend, deploy

fix: Assignment Backend
  backend/api/endpoints/assignment.py
  backend/api/endpoints/assignment_upload.py
  backend/cruds/assignment.py
  backend/models/assignment.py
  backend/models/assignment_upload.py
  backend/schemas/assignment.py
  backend/schemas/assignment_upload.py
  mobile/lib/helpers/helper.dart
  mobile/lib/repository/models/student_assignment.dart
  mobile/lib/repository/models/student_assignment.g.dart
  mobile/lib/repository/models/teacher_assignment.dart
  mobile/lib/repository/models/teacher_assignment.g.dart
  mobile/lib/repository/student_assignment.dart
  mobile/lib/screens/Assignment/Teacher-Assignment/teacher_assignment.dart
  mobile/lib/screens/Assignment/components/Assignments.dart
  mobile/lib/screens/Assignment/student_assignment_bloc.dart
  mobile/lib/screens/Assignment/student_assignment_screen.dart
  mobile/lib/screens/Assignment/student_assignment_state.dart
  mobile/lib/screens/Assignment/student_assignment_submission.dart
  mobile/lib/screens/Dashboard/student_dashboard.dart
  mobile/lib/screens/Quiz/components/ImageViewer.dart
  mobile/lib/screens/Quiz/components/QuizViewCard.dart
  mobile/lib/screens/Quiz/student_quiz.dart
Due: test-backend, build-backend, deploy

fix: Password-less login fix
  backend/api/endpoints/auth.py
  backend/core/security.py
Due: test-backend, build-backend, deploy

fix: Class session create fix
  backend/api/endpoints/class_session.py
  backend/forms/class_session.py
  backend/schemas/user.py
Due: test-backend, build-backend, deploy

class session created
  mobile/lib/components/CustomDateButton.dart
  mobile/lib/screens/Assignment/Add-Assignment/add_assignment.dart
  mobile/lib/screens/Assignment/Add-Assignment/bloc/add_assignment_bloc.dart
  mobile/lib/screens/Assignment/Add-Assignment/bloc/add_assignment_event.dart
  mobile/lib/screens/Assignment/Add-Assignment/bloc/add_assignment_state.dart
  mobile/lib/screens/ClassCreator/bloc/class_creator_bloc.dart
  mobile/lib/screens/ClassCreator/bloc/class_creator_event.dart
  mobile/lib/screens/ClassCreator/bloc/class_creator_state.dart
  mobile/lib/screens/ClassCreator/class_creator.dart
Due: none

fix: Helper duplicate
  mobile/lib/helpers/helper.dart
Due: none

fix: Web prod config
  web/src/utils/configs.jsx
Due: build-web, deploy

readded session and password qr login changes
  mobile/lib/repository/sessions.dart
  mobile/lib/screens/Profile/profile.dart
  mobile/lib/screens/Profile/qrLogin.dart
  mobile/lib/screens/Profile/sessions.dart
  mobile/lib/screens/Profile/sessions_bloc.dart
  mobile/lib/screens/Profile/sessions_event.dart
  mobile/lib/screens/Profile/sessions_state.dart
  mobile/pubspec.lock
  mobile/pubspec.yaml
Due: none

minor change
  mobile/pubspec.lock
Due: none

added file picker
  mobile/lib/helpers/helper.dart
  mobile/lib/screens/Assignment/Add-Assignment/add_assignment.dart
  mobile/lib/screens/ClassCreator/class_creator.dart
  mobile/pubspec.lock
Due: none

Student Assignment Implemented
  mobile/lib/helpers/helper.dart
  mobile/lib/repository/student_assignment.dart
  mobile/lib/screens/Assignment/Teacher-Assignment/teacher_assignment.dart
  mobile/lib/screens/Assignment/assignment_upload_bloc.dart
  mobile/lib/screens/Assignment/assignment_upload_event.dart
  mobile/lib/screens/Assignment/assignment_upload_state.dart
  mobile/lib/screens/Assignment/components/AssignmentView.dart
  mobile/lib/screens/Assignment/components/Assignments.dart
  mobile/lib/screens/Assignment/student_assignment_bloc.dart
  mobile/lib/screens/Assignment/student_assignment_event.dart
  mobile/lib/screens/Assignment/student_assignment_screen.dart
  mobile/lib/screens/Assignment/student_assignment_state.dart
  mobile/lib/screens/Assignment/student_assignment_submission.dart
Due: none

qrlogin fix
  mobile/lib/screens/Profile/qrLogin.dart
  web/src/components/CustomQRCode.jsx
Due: build-web, deploy

qrlogin complete
  web/src/components/CustomQRCode.jsx
Due: build-web, deploy

student assignment upload completed
  mobile/lib/screens/Assignment/assignment_upload_bloc.dart
  mobile/lib/screens/Assignment/assignment_upload_event.dart
  mobile/lib/screens/Assignment/assignment_upload_state.dart
  mobile/lib/screens/Assignment/components/Assignments.dart
  mobile/lib/screens/Assignment/student_assignment_submission.dart
  mobile/pubspec.lock
Due: none

fix: Passwordless return schema and two fa return
  backend/api/endpoints/auth.py
  backend/api/endpoints/two_fa.py
Due: test-backend, build-backend, deploy

feat: Endpoint for participants of class session and active class session created
  backend/api/endpoints/class_session.py
  backend/schemas/class_session.py
Due: test-backend, build-backend, deploy

massive changes
  mobile/lib/repository/reset_password.dart
  mobile/lib/repository/twoFA.dart
  mobile/lib/repository/twoFALogin.dart
  mobile/lib/routes.dart
  mobile/lib/screens/2fa/components/CustomFilledButton.dart
  mobile/lib/screens/2fa/otpPage.dart
  mobile/lib/screens/2fa/success.dart
  mobile/lib/screens/2fa/twoFA_bloc.dart
  mobile/lib/screens/2fa/twoFA_event.dart
  mobile/lib/screens/2fa/twoFA_state.dart
  mobile/lib/screens/2fa/twoFactorAuthentication.dart
  mobile/lib/screens/Login/TwoFALogin.dart
  mobile/lib/screens/Login/components/CustomEditTextField.dart
  mobile/lib/screens/Login/login_screen.dart
  mobile/lib/screens/Login/reset_password.dart
  mobile/lib/screens/Login/reset_password_bloc.dart
  mobile/lib/screens/Login/reset_password_event.dart
  mobile/lib/screens/Login/reset_password_state.dart
  mobile/lib/screens/Login/twoFALogin_bloc.dart
  mobile/lib/screens/Login/twoFALogin_event.dart
  mobile/lib/screens/Login/twoFALogin_state.dart
  mobile/lib/screens/Profile/change_password.dart
  mobile/lib/screens/Profile/profile.dart
  mobile/pubspec.lock
  mobile/pubspec.yaml
Due: none

revert routes
  mobile/lib/routes.dart
Due: none

Student Assignment Upload Completed
  mobile/lib/screens/Assignment/assignment_upload_bloc.dart
  mobile/lib/screens/Assignment/assignment_upload_event.dart
  mobile/lib/screens/Assignment/assignment_upload_state.dart
  mobile/lib/screens/Assignment/components/Assignments.dart
  mobile/lib/screens/Assignment/student_assignment_submission.dart
Due: none

Project complete
  mobile/assets/images/doc.svg
  mobile/assets/images/file.svg
  mobile/assets/images/pdf.svg
  mobile/assets/images/ppt.svg
  mobile/assets/images/xls.svg
  mobile/assets/images/zip.svg
  mobile/lib/repository/models/student.dart
  mobile/lib/repository/models/student.g.dart
  mobile/lib/repository/models/submitted_assignment.dart
  mobile/lib/repository/models/submitted_assignment.g.dart
  mobile/lib/repository/teacher_assignment_review.dart
  mobile/lib/routes.dart
  mobile/lib/screens/Assignment/Teacher-Assignment/AssignmentReviewCard.dart
  mobile/lib/screens/Assignment/Teacher-Assignment/teacher_assignment.dart
  mobile/lib/screens/Assignment/Teacher-Assignment/teacher_assignment_review.dart
  mobile/lib/screens/Assignment/Teacher-Assignment/teacher_assignment_review_bloc.dart
  mobile/lib/screens/Assignment/Teacher-Assignment/teacher_assignment_review_event.dart
  mobile/lib/screens/Assignment/Teacher-Assignment/teacher_assignment_review_state.dart
  mobile/lib/screens/Assignment/Teacher-Assignment/teacher_assignment_view.dart
  mobile/lib/screens/Assignment/components/AssignmentView.dart
  mobile/lib/screens/Assignment/components/Assignments.dart
  mobile/lib/screens/Assignment/student_assignment_screen.dart
  mobile/lib/screens/Assignment/student_assignment_submission.dart
  mobile/lib/screens/Dashboard/student_dashboard.dart
  mobile/lib/screens/Login/components/CustomFilledButton.dart
  mobile/lib/screens/Login/login_screen.dart
  mobile/lib/screens/Quiz/components/QuizAttemptCard.dart
  mobile/lib/screens/Quiz/student_quizview.dart
  mobile/lib/screens/Signup/components/contact_information.dart
  mobile/lib/screens/Signup/components/personal_information.dart
  mobile/lib/screens/Signup/components/program_information.dart
  mobile/lib/screens/Teacher-Quiz/teacher_quiz_review.dart
Due: none

Teach ass
  mobile/lib/screens/Assignment/student_assignment_submission.dart
Due: none

file upload functionality added to class_creator and add_assignment
  mobile/lib/screens/Assignment/Add-Assignment/add_assignment.dart
  mobile/lib/screens/Assignment/Add-Assignment/bloc/add_assignment_bloc.dart
  mobile/lib/screens/Assignment/Add-Assignment/bloc/add_assignment_event.dart
  mobile/lib/screens/Assignment/Add-Assignment/bloc/add_assignment_state.dart
  mobile/lib/screens/ClassCreator/bloc/class_creator_bloc.dart
  mobile/lib/screens/ClassCreator/bloc/class_creator_event.dart
  mobile/lib/screens/ClassCreator/bloc/class_creator_state.dart
  mobile/lib/screens/ClassCreator/class_creator.dart
Due: none

fix: Chat now works for both student and teacher
  mobile/lib/screens/Chat/chat_bloc.dart
  mobile/lib/screens/Chat/chat_state.dart
  mobile/lib/screens/Chat/student_chat.dart
  mobile/pubspec.lock
Due: none

Path conditions:
  test-backend: (any of: backend/*) or (any of: backend/**/*)
  build-backend: any of: backend/**/*
  build-file-server: any of: file_server/**/*
  build-web: any of: web/**/*
  deploy: any of: backend/**/*, file_server/**/*, web/**/*
